<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Skills</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include "css.html" %}

    </head>

        <div class="page_container">
            {% include "nav.html" %}
            <br />            <br />
            <div class="job_listings">
                {% for job in jobs: %}
                <b>
                    <a
                        href="{{ url_for('job_focus', i_name=industry, external_id=job.external_id, title=job.title) }}"
                        >{{ job.title }}</a
                    > </b
                ><br />
                {{ job.company }}<br />
                {{ job.state }} {{ job.country }}<br />
                <!--<a href="{{ job.source_url }}">{{ job.source }}</a><br />-->
</br>

            {% endfor %}
</div>
        </div>
    </body>
</html>
