<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Skills</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style2.css') }}"
        />
    </head>
    <body>
        <div class="page_container">
            <div class="nav_card">
                <h1>
                    <a href="{{ url_for('industries_page') }}">Job Market</a>
                </h1>
                <a href="{{ url_for('i_jobs', i_name=industry) }}"
                    >{{ industry }} </a
                ><br />

                <p><a href="{{ url_for('industries_page') }}">[ industries ]</a> <a href="{{ url_for('industries_page') }}"><a href="{{ url_for('i_jobs', i_name=industry) }}"
                    >[ jobs ]</a></p>
            </div>
            <br />
            <div class="skills-card">
                <div class="focused_job">
                    <p>{{ title }}</p>
                    <br />
                    {{ job.company }}<br />
                    {{ job.state }} {{ job.country }}<br />
                    <a href="{{ job.source_url }}"
                        >Check out the listing on {{ job.source }}</a
                    ><br />
                    {{ salary_min}} - {{ salary_max}}<br />
                    <p>{{ job.description_raw}}</p>
                </div>
                <br /><br /><br />
            </div>
        </div>
    </body>
</html>
